.main{
    background-color: aliceblue;
    height: 300px;
    width: 330px;
    position: relative;
    top: 50px;
    left: 300px;
}
.box1{
    background-color: rgb(15, 241, 15);
    height: 300px;
    width: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.box2{
    background-color: blue;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0px;
    left: 70px;
}
