.box1{
    background-color: black;
    height:800px;
    width: 10px;
    position: absolute;
    left: 570px;
    z-index: 0 ;
}
.box2{
    background-color: blue;
    height: 10px;
    width: 1000px;
    position: absolute;
    top: 100px;
    left: 90px;
}